body {
  margin: 0;
  padding: 0;
  background-color: #000000; /* Dark background */
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.payment-card {
  background-color: #111111;
  padding: 30px;
  border-radius: 15px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
}

h2 {
  color: #FCA311;
  margin-bottom: 15px;
}

.qr-section img {
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #999999;
  font-weight: bold;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #333333;
}

.divider:not(:empty)::before {
  margin-right: 10px;
}

.divider:not(:empty)::after {
  margin-left: 10px;
}

.upi-section input {
  width: 46.5vh;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  font-size: 16px;
}

.pay-btn {
  width: 50vh;
  padding: 12px;
  background-color: #FCA311;
  color: #000000;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.pay-btn:hover {
  background-color: #ffbb33;
}
