body{
    margin: 0px;
    border: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-container{
    background-color: #FFFFFF;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
    transition-duration: 0.5s;
    width: 50vh;
}
.login-container:hover{
    box-shadow: 10px 10px 0px gray;
    transition-duration: 0.5s;
    transform: translateY(-10px);
}
input,button,textarea{
    padding: 10px 15px 10px 15px ;
    margin: 5px;
}
input{
    border-color: #000000;
    border: 1px solid #000000;
    border-radius: 30px;
}
textarea{
    border-radius: 15px;
    border-color: #000000;
    border: 1px solid #000000;
}
input:hover,textarea:hover  {
    border-color: #FCA311;

}
.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}
label{
    margin-left: 5px;
}
p{
    text-align: center;
    font-size: 45px;
    margin: 10px 0px 20px 0px;
    color: #FCA311;
}
button{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 105px 10px 105px;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    background-color: #FCA311;
    width: 50vh;
}
button:hover{
    background-color:#E59400 ;
}
input[type="file"] {
    display: none;
}
.file-label {
    display:inline-block;
    padding: 10px 15px;
    background-color: #FCA311;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}
.file-wrapper{
    margin-top: 5px;
    margin-bottom: 5px;
}
.file-label:hover {
    background-color: #E59400;
}
#file-chosen {
    font-size: 14px;
    color: #555;
}
.login-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-link a{
    text-decoration: none;
    color: #FCA311;
    margin-left: 5px;
}
.login-link a:hover{
    text-decoration: underline;
}